# Covid-19 World Vaccination Progress

### Import libraries and dataset

In [1]:
# Import libraries 

import pandas as pd
import numpy as np
import os

In [2]:
# Import Dataset

df_new = pd.read_csv(r'C:\Users\Owner\Desktop\Data Analyst\Achievement 6\country_vaccinations.csv')

In [3]:
# Check shape 

df_new.shape

(86512, 15)

In [4]:
df_new.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/

### Data Wrangling and Consistency Checks

In [5]:
# Drop columns 'iso_code', 'source_name', 'source_website'

df_new = df_new.drop(columns = ['iso_code', 'source_name', 'source_website'])

In [6]:
df_new.head()

,country,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines
0,Afghanistan,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
1,Afghanistan,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
2,Afghanistan,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
3,Afghanistan,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
4,Afghanistan,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."

In [7]:
# Check for mixed types

for col in df_new.columns.tolist():
  weird = (df_new[[col]].applymap(type) != df_new[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_new[weird]) > 0:
    print (col)

No mixed type data

In [8]:
# find missing value

df_new.isnull().sum()

country                                    0
date                                       0
total_vaccinations                     42905
people_vaccinated                      45218
people_fully_vaccinated                47710
daily_vaccinations_raw                 51150
daily_vaccinations                       299
total_vaccinations_per_hundred         42905
people_vaccinated_per_hundred          45218
people_fully_vaccinated_per_hundred    47710
daily_vaccinations_per_million           299
vaccines                                   0
dtype: int64

There are a lot of missing values and I can't risk to remove them as it can impact the analysis. The values can be missing due to the different ways of reporting in different countries. For now I will impute the missing values to N/A, until I investigate the reason.

In [9]:
# Impute missing values with '0'

df_new.fillna(0, inplace =True)

In [10]:
# Verify the query above

df_new.isnull().sum()

country                                0
date                                   0
total_vaccinations                     0
people_vaccinated                      0
people_fully_vaccinated                0
daily_vaccinations_raw                 0
daily_vaccinations                     0
total_vaccinations_per_hundred         0
people_vaccinated_per_hundred          0
people_fully_vaccinated_per_hundred    0
daily_vaccinations_per_million         0
vaccines                               0
dtype: int64

In [11]:
# Finding duplicates

df_dups = df_new[df_new.duplicated()]

In [12]:
df_dups

Empty DataFrame
Columns: [country, date, total_vaccinations, people_vaccinated, people_fully_vaccinated, daily_vaccinations_raw, daily_vaccinations, total_vaccinations_per_hundred, people_vaccinated_per_hundred, people_fully_vaccinated_per_hundred, daily_vaccinations_per_million, vaccines]
Index: []

There are no duplicates in the datatset

In [13]:
df_new.dtypes

country                                 object
date                                    object
total_vaccinations                     float64
people_vaccinated                      float64
people_fully_vaccinated                float64
daily_vaccinations_raw                 float64
daily_vaccinations                     float64
total_vaccinations_per_hundred         float64
people_vaccinated_per_hundred          float64
people_fully_vaccinated_per_hundred    float64
daily_vaccinations_per_million         float64
vaccines                                object
dtype: object

In [14]:
# Change date to string

df_new['date'] = df_new['date'].astype('str')

In [15]:
df_new.describe()

,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
count,8.651200e+04,8.651200e+04,8.651200e+04,8.651200e+04,8.651200e+04,86512.000000,86512.000000,86512.000000,86512.000000
mean,2.315117e+07,8.451007e+06,6.341251e+06,1.106083e+05,1.308517e+05,40.419616,19.535471,15.932736,3245.792248
std,1.611037e+08,4.969867e+07,3.890729e+07,7.864756e+05,7.669487e+05,62.707869,28.764846,25.947621,3932.156455
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8.770000e+02,0.000000,0.000000,0.000000,629.000000
50%,1.008000e+03,0.000000e+00,0.000000e+00,0.000000e+00,7.245000e+03,0.010000,0.000000,0.000000,2036.000000
75%,3.697554e+06,1.843103e+06,1.137869e+06,1.280625e+04,4.370450e+04,68.750000,38.270000,25.220000,4667.000000
max,3.263129e+09,1.275541e+09,1.240777e+09,2.474100e+07,2.242429e+07,345.370000,124.760000,122.370000,117497.000000

### Export Dataset

In [16]:
# Create a path

path = r'C:\Users\Owner\Desktop\Data Analyst\Achievement 6'

In [17]:
df_new.to_csv(os.path.join(path, 'df_new.csv'), index = False)